<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список панорам</title>
</head>
<body>
    <h1>Список панорам</h1>
    {{!-- <div>{{outCollect}}</div> --}}
    <form action="/panoram" method="POST">
        {{#each collections}}
            <input type="submit" name='{{this}}' value="{{this}}"> 
            {{!-- <button name="{{this}}">{{this}}</button> --}}
        {{/each}}
    </form>
    {{!-- <script >
    document.addEventListener("click", function(e) {
        console.log(e.target);

    if (e.target.tagName == 'BUTTON') {
        console.log('wertyucfvgbh');

        let request = new XMLHttpRequest();        
        request.open('POST', '/panoram');
        request.send();
                
        request.onload = function() {
            if (request.status != 200) { 
                alert(`Ошибка ${request.status}: ${request.statusText}`); 
            } else { 
                alert(`Готово, получили ${request.response.length} байт`); 
        }
};
    }
});
    </script> --}}
</body>
</html>